p {
    font-size: 2em;
}

.content {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 15%;
    gap: 5px;
}

.separate {
    display: flex;
    gap: 5px;
    margin: 5px 0px;
}

#logout {
    color: red;
}

#username {
	font-weight: bolder;
	color: green;
}

#book {
	color: blue;
	font-weight: bolder;
	font-style: italic;
}

.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}