{% extends 'home-base.html' %}
{% block page_title %} Sign Up {% endblock %}
{% block page_content %}
<div class="container-fluid content">
    <h1>Add User</h1>
    <form method="post">
        <input type="text" name="fullname" placeholder="full name" required>
        <input type="text" name="username" placeholder="username" required>
        <input type="text" name="class_id" placeholder="class" required>
        <br>
        <div class="separate">
            <input type="password" name="password" placeholder="password" required>
            <input type="password" name="password_confirmation" placeholder="confirm password" required>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="/" type="button" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
