{% extends 'base.html' %}
{% block page_title %}
    view borrows
{% endblock %}
{% block page_content %}
<h1 align="center">Unreturned Borrows History</h1>
    <div class="browsing">
        <div class="table">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Book</th>
                    {% if session['is_admin'] %}
                        <th>Borrower</th>
                        <th>Class</th>
                    {% endif %}
                    <th scope="col">Date Borrowed</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Time Left (days)</th>
                </tr>
                </thead>
                <tbody>
                {% for borrow in borrows %}
                    {% if today > borrow.due_date %}
                        <tr class="table-danger" onclick="window.location = '/return/{{borrow.id}}'">
                    {% else %}
                        <tr class="table-primary" onclick="window.location = '/return/{{borrow.id}}'">
                    {% endif %}
                        <td>{{ borrow.book }}</td>
                        {% if session['is_admin'] %}
                            <td>{{ borrow.fullname }}</td>
                            <td>{{ borrow.class_id }}</td>
                        {% endif %}
                        <td>{{ borrow.date_borrowed }}</td>
                        <td>{{ borrow.due_date }}</td>
                        <td>{{ (borrow.due_date - today).days }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="filters" align="center">
            <form method="get">
                <select name="filter" onchange="this.form.submit()" class="filter">
                    <option selected>Filter by return time</option>
                    <option value="overdue">Overdue</option>
                    <option value="on_time">On time</option>
                </select>
                <a class="btn btn-primary filter" href="/borrows/history_unreturned" role="button">Reset Return Time Filter</a>
            </form>
        </div>
    </div>
{% endblock %}