<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOIS Library</title>
</head>
<body>
    <h1>Welcome to MOIS library</h1>
    <a href="/borrow">Borrow a book</a><br>
    <a href="/return">Return a borrowed book</a><br>
    <a href="/search">Browse books</a>

    <div class='container success'>
        {% if added_book %}
            <h3>successfully added a new book</h3>
        {% endif %}
    </div>
</body>
</html>