{% extends 'home-base.html' %}
{% block page_title %} Home {% endblock %}
{% block page_content %}
<div class="container-fluid content">
    <h1>
        Welcome back, <span id="username"> {{ fullname }}</span>!
    </h1>
    <ul>
        <li><h3><a href="/browse">Browse Books</a></h3></li>
        <li><h3><a href="/borrows/history_returned">Returned Books</a></h3></li>
        <li><h3><a href="/borrows/history_unreturned">Unreturned Books ({{ unreturned_books }})</a></h3></li>
        <li><h3><a href="/login/logout" id="logout">Logout</a></h3></li>
    </ul>
</div>
{% endblock %}