{% extends 'base.html' %}
{% block page_title %}
    browse books
{% endblock %}
{% block page_content %}
<h1 align="center">Browse Books</h1>
    <div class="browsing">
        <div class="table">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Available qty</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    {% if session.get('is_admin') %}
                        <tr ondblclick="window.location = '/manage_books/edit_book/{{book.id}}'">
                        <tr oncontextmenu="window.location = '/manage_books/edit_book/{{book.id}}'">
                    {% else %}
                        <tr onclick="window.location = '/borrow/{{book.id}}'">
                    {% endif %}
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.subject }}</td>
                        <td>{{ book.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="filters" align="center">
            <form method="get">
                <select name="subject" onchange="this.form.submit()" class="filter">
                    <option selected>Filter By Subject</option>
                    {% for subject in subjects %}
                        <option value="{{ subject.subject}}">{{subject.subject}}</option>
                    {% endfor %}
                </select>
                <a class="btn btn-primary filter" href="/borrow/browse" role="button">Reset Subject Filter</a>
            </form>
            {% if session.get('is_admin') %}
                <a href="/manage_books/add_book" class="btn btn-secondary">Add book</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
